body{
    background: linear-gradient(
        to right
        white 0%
        white 50%
        rgb(196, 140, 196) 50%
        rgb(196, 140, 196) 100%
    );
}
h1{
    color: black;
    font-size: xx-large;
    font-style: italic;
}